[submodule "snark-logic/cmake/modules"]
	path = snark-logic/cmake/modules
	url = git@github.com:BoostCMake/cmake_modules.git
[submodule "snark-logic/libs/multiprecision"]
	path = snark-logic/libs/multiprecision
	url = git@github.com:nilfoundation/crypto3-multiprecision.git
[submodule "snark-logic/libs/algebra"]
	path = snark-logic/libs/algebra
	url = git@github.com:nilfoundation/crypto3-algebra.git
[submodule "snark-logic/libs/zk"]
	path = snark-logic/libs/zk
	url = git@github.com:nilfoundation/crypto3-zk.git
[submodule "snark-logic/libs/blueprint"]
	path = snark-logic/libs/blueprint
	url = git@github.com:nilfoundation/crypto3-blueprint.git
[submodule "snark-logic/libs/fft"]
	path = snark-logic/libs/fft
	url = git@github.com:nilfoundation/crypto3-fft.git
[submodule "snark-logic/libs/block"]
	path = snark-logic/libs/block
	url = git@github.com:nilfoundation/crypto3-block.git
[submodule "snark-logic/libs/hash"]
	path = snark-logic/libs/hash
	url = git@github.com:nilfoundation/crypto3-hash
[submodule "snark-logic/libs/random"]
	path = snark-logic/libs/random
	url = git@github.com:nilfoundation/crypto3-random.git
[submodule "snark-logic/libs/mac"]
	path = snark-logic/libs/mac
	url = git@github.com:nilfoundation/crypto3-mac.git
[submodule "snark-logic/libs/modes"]
	path = snark-logic/libs/modes
	url = git@github.com:nilfoundation/crypto3-modes.git
[submodule "snark-logic/libs/stream"]
	path = snark-logic/libs/stream
	url = git@github.com:nilfoundation/crypto3-stream.git
[submodule "snark-logic/libs/codec"]
	path = snark-logic/libs/codec
	url = git@github.com:NilFoundation/crypto3-codec.git
[submodule "snark-logic/libs/marshalling"]
	path = snark-logic/libs/marshalling
	url = git@github.com:NilFoundation/marshalling.git
[submodule "snark-logic/libs/math"]
	path = snark-logic/libs/math
	url = git@github.com:NilFoundation/crypto3-math.git
